gcloud workflows run gaarf-wf \
  --data='{
  "cloud_function":"<FUNCTION_NAME>",
  "cloud_function_bq":"<FUNCTION_NAME_BQ>",
  "gcs_bucket":"<YOUR_PROJECT>",
  "ads_queries_path":"<YOUR_GCS_FOLDER_PATH_ADS>",
  "bq_queries_path":"<YOUR_GCS_FOLDER_PATH_BQ>",
  "dataset":"<YOUR_DATASET>",
  "cid":"<YOUR_CUSTOMER_ID>",
  "ads_macro": {},
  "bq_macro":{},
  "bq_sql": {}
  }'
